<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.smallProgram.talkHall.dao.DepartmentBelongsMapper" >
  <resultMap id="BaseResultMap" type="com.liu.smallProgram.talkHall.model.DepartmentBelongs" >
    <id column="department_belongs_id" property="departmentBelongsId" jdbcType="INTEGER" />
    <result column="department_title" property="departmentTitle" jdbcType="VARCHAR" />
    <result column="department_state" property="departmentState" jdbcType="INTEGER" />
    <result column="department_priority" property="departmentPriority" jdbcType="INTEGER" />
    <result column="department_number" property="departmentNumber" jdbcType="INTEGER" />
    <result column="department_bg_image_id" property="departmentBgImageId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    department_belongs_id, department_title, department_state, department_priority, department_number, 
    department_bg_image_id, create_time, last_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from department_belongs
    where department_belongs_id = #{departmentBelongsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from department_belongs
    where department_belongs_id = #{departmentBelongsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liu.smallProgram.talkHall.model.DepartmentBelongs" >
    insert into department_belongs (department_belongs_id, department_title, 
      department_state, department_priority, department_number, 
      department_bg_image_id, create_time, last_update_time
      )
    values (#{departmentBelongsId,jdbcType=INTEGER}, #{departmentTitle,jdbcType=VARCHAR}, 
      #{departmentState,jdbcType=INTEGER}, #{departmentPriority,jdbcType=INTEGER}, #{departmentNumber,jdbcType=INTEGER}, 
      #{departmentBgImageId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liu.smallProgram.talkHall.model.DepartmentBelongs" >
    insert into department_belongs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="departmentBelongsId != null" >
        department_belongs_id,
      </if>
      <if test="departmentTitle != null" >
        department_title,
      </if>
      <if test="departmentState != null" >
        department_state,
      </if>
      <if test="departmentPriority != null" >
        department_priority,
      </if>
      <if test="departmentNumber != null" >
        department_number,
      </if>
      <if test="departmentBgImageId != null" >
        department_bg_image_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="departmentBelongsId != null" >
        #{departmentBelongsId,jdbcType=INTEGER},
      </if>
      <if test="departmentTitle != null" >
        #{departmentTitle,jdbcType=VARCHAR},
      </if>
      <if test="departmentState != null" >
        #{departmentState,jdbcType=INTEGER},
      </if>
      <if test="departmentPriority != null" >
        #{departmentPriority,jdbcType=INTEGER},
      </if>
      <if test="departmentNumber != null" >
        #{departmentNumber,jdbcType=INTEGER},
      </if>
      <if test="departmentBgImageId != null" >
        #{departmentBgImageId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liu.smallProgram.talkHall.model.DepartmentBelongs" >
    update department_belongs
    <set >
      <if test="departmentTitle != null" >
        department_title = #{departmentTitle,jdbcType=VARCHAR},
      </if>
      <if test="departmentState != null" >
        department_state = #{departmentState,jdbcType=INTEGER},
      </if>
      <if test="departmentPriority != null" >
        department_priority = #{departmentPriority,jdbcType=INTEGER},
      </if>
      <if test="departmentNumber != null" >
        department_number = #{departmentNumber,jdbcType=INTEGER},
      </if>
      <if test="departmentBgImageId != null" >
        department_bg_image_id = #{departmentBgImageId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where department_belongs_id = #{departmentBelongsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liu.smallProgram.talkHall.model.DepartmentBelongs" >
    update department_belongs
    set department_title = #{departmentTitle,jdbcType=VARCHAR},
      department_state = #{departmentState,jdbcType=INTEGER},
      department_priority = #{departmentPriority,jdbcType=INTEGER},
      department_number = #{departmentNumber,jdbcType=INTEGER},
      department_bg_image_id = #{departmentBgImageId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where department_belongs_id = #{departmentBelongsId,jdbcType=INTEGER}
  </update>
</mapper>