<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.smallProgram.talkHall.dao.MessageBoardHallMapper" >
  <resultMap id="BaseResultMap" type="com.liu.smallProgram.talkHall.model.MessageBoardHall" >
    <id column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="message_speaker_id" property="messageSpeakerId" jdbcType="INTEGER" />
    <result column="message_content" property="messageContent" jdbcType="VARCHAR" />
    <result column="message_images_ids" property="messageImagesIds" jdbcType="VARCHAR" />
    <result column="message_department_id" property="messageDepartmentId" jdbcType="INTEGER" />
    <result column="message_title" property="messageTitle" jdbcType="VARCHAR" />
    <result column="message_lable" property="messageLable" jdbcType="VARCHAR" />
    <result column="message_state" property="messageState" jdbcType="INTEGER" />
    <result column="message_extends" property="messageExtends" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    message_id, message_speaker_id, message_content, message_images_ids, message_department_id, 
    message_title, message_lable, message_state, message_extends, create_time, last_update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message_board_hall
    where message_id = #{messageId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_board_hall
    where message_id = #{messageId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liu.smallProgram.talkHall.model.MessageBoardHall" >
    insert into message_board_hall (message_id, message_speaker_id, message_content, 
      message_images_ids, message_department_id, 
      message_title, message_lable, message_state, 
      message_extends, create_time, last_update_time
      )
    values (#{messageId,jdbcType=INTEGER}, #{messageSpeakerId,jdbcType=INTEGER}, #{messageContent,jdbcType=VARCHAR}, 
      #{messageImagesIds,jdbcType=VARCHAR}, #{messageDepartmentId,jdbcType=INTEGER}, 
      #{messageTitle,jdbcType=VARCHAR}, #{messageLable,jdbcType=VARCHAR}, #{messageState,jdbcType=INTEGER}, 
      #{messageExtends,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liu.smallProgram.talkHall.model.MessageBoardHall" >
    insert into message_board_hall
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="messageSpeakerId != null" >
        message_speaker_id,
      </if>
      <if test="messageContent != null" >
        message_content,
      </if>
      <if test="messageImagesIds != null" >
        message_images_ids,
      </if>
      <if test="messageDepartmentId != null" >
        message_department_id,
      </if>
      <if test="messageTitle != null" >
        message_title,
      </if>
      <if test="messageLable != null" >
        message_lable,
      </if>
      <if test="messageState != null" >
        message_state,
      </if>
      <if test="messageExtends != null" >
        message_extends,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="messageId != null" >
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="messageSpeakerId != null" >
        #{messageSpeakerId,jdbcType=INTEGER},
      </if>
      <if test="messageContent != null" >
        #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageImagesIds != null" >
        #{messageImagesIds,jdbcType=VARCHAR},
      </if>
      <if test="messageDepartmentId != null" >
        #{messageDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="messageTitle != null" >
        #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageLable != null" >
        #{messageLable,jdbcType=VARCHAR},
      </if>
      <if test="messageState != null" >
        #{messageState,jdbcType=INTEGER},
      </if>
      <if test="messageExtends != null" >
        #{messageExtends,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liu.smallProgram.talkHall.model.MessageBoardHall" >
    update message_board_hall
    <set >
      <if test="messageSpeakerId != null" >
        message_speaker_id = #{messageSpeakerId,jdbcType=INTEGER},
      </if>
      <if test="messageContent != null" >
        message_content = #{messageContent,jdbcType=VARCHAR},
      </if>
      <if test="messageImagesIds != null" >
        message_images_ids = #{messageImagesIds,jdbcType=VARCHAR},
      </if>
      <if test="messageDepartmentId != null" >
        message_department_id = #{messageDepartmentId,jdbcType=INTEGER},
      </if>
      <if test="messageTitle != null" >
        message_title = #{messageTitle,jdbcType=VARCHAR},
      </if>
      <if test="messageLable != null" >
        message_lable = #{messageLable,jdbcType=VARCHAR},
      </if>
      <if test="messageState != null" >
        message_state = #{messageState,jdbcType=INTEGER},
      </if>
      <if test="messageExtends != null" >
        message_extends = #{messageExtends,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liu.smallProgram.talkHall.model.MessageBoardHall" >
    update message_board_hall
    set message_speaker_id = #{messageSpeakerId,jdbcType=INTEGER},
      message_content = #{messageContent,jdbcType=VARCHAR},
      message_images_ids = #{messageImagesIds,jdbcType=VARCHAR},
      message_department_id = #{messageDepartmentId,jdbcType=INTEGER},
      message_title = #{messageTitle,jdbcType=VARCHAR},
      message_lable = #{messageLable,jdbcType=VARCHAR},
      message_state = #{messageState,jdbcType=INTEGER},
      message_extends = #{messageExtends,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP}
    where message_id = #{messageId,jdbcType=INTEGER}
  </update>
</mapper>